@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Oswald&display=swap');
@import "reset.css";
@import "variables.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

body{

    background-size: cover;
    font-family: Oswald; 
    height:1000vh;
}
