@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Oswald&display=swap');
@import "reset.css";
@import "variables.css";
/*Components*/
@import "components/status-bar.css"; /*와이파이 시간 배터리 CSS*/
@import "components/nav-bar.css"; /*png2 맨아래 네비게이션 CSS*/
@import "components/screen-header.css"; /*Friends와 아이콘 3개 CSS*/
@import "components/user-components.css"; /* 본인, 친구, 채널 프로필 css*/
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";


body{

    background-size: cover;
    font-family: Oswald; 
    height:1000vh;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}