.chat-screen {
    background-color: #abc1d1;
    height: 1100vh;
}

.chat-screen .alt-header,
.chat-screen .status-bar {
    top:0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    /* alt-header와 status-bar에 배경 색깔을 준 이유는 이것들 뒤에 오는 것들이
    안 보이게 함으 위함이다.*/
    background-color: #abc1d1;
    
}

.chat-screen .status-bar {
    z-index: 2;
}
/*z-index는 각 element에 대한 순서, 즉, layer에 대한 순서이다*/
/*position fiexe라서 z-index를 쓸 수 있었다? */
.chat-screen .alt-header {
    top: 10px;
    z-index: 1;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.chat__timestamp {
    background-color: #92a4b2;
    color: white;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
}

.message__author {
    opacity: 0.8;
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__info {
    display: flex;
    align-items: flex-end;
    opacity: 0.8;
    font-size: 13px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 5px;
}
/*
.message-row--own .message__bubble {
    order: 1;
}
.message-row--own .message__time{
    order: 0;
}
flex children에게만 적용되는 order 속성을 이용해서 순서를 바꾸는 방법
*/

.message-row--own .message__info  {
    flex-direction: row-reverse;
} /* flex의 주축 방향을 바꿔서 순서를 바꾸는 방법*/