body{
   background: linear-gradient(to right bottom, pink, blue);
}

.hogwarts-logo {
    display: flex;
    width: 100%;
    justify-content: center;

}

.welcome-header__font{
    color:white;
}
.hogwarts-logo img {
    width: 300px;
    height: 300px;
    opacity: 1;
}

.welcome-header{
    position: relative;
    top:-150px;
}

#login-form {
    position: relative;
    top:-200px;
}