.hogwarts-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 60px;
}


.hogwarts-logo img {
    width: 90px;
    height: 90px;
    opacity: 1;
    background-color: black;

}